{% extends "layout.html" %} {% block content %}
<div class="heading">
	<div class="row">
		<div class="col s6">
			<p class="topic">
				All Notes
			</p>
		</div>
		<div class="col s6">
			<ul class="pagination right hide-on-med-and-down">
				<li class="disabled">
					<a href="#!"><i class="material-icons">chevron_left</i></a>
				</li>
				<li class="active"><a href="#!">1</a></li>
				<li class="waves-effect"><a href="#!">2</a></li>
				<li class="waves-effect"><a href="#!">3</a></li>
				<li class="waves-effect"><a href="#!">4</a></li>
				<li class="waves-effect"><a href="#!">5</a></li>
				<li class="waves-effect">
					<a href="#!"><i class="material-icons">chevron_right</i></a>
				</li>
			</ul>
		</div>
	</div>
</div>
<div
	class="grid"
	data-masonry='{ "itemSelector": ".grid-item", "columnWidth": ".grid-item", "percentPosition": "true", "gutter": 16 }'
>
	{% for post in posts %}
	<div
		class="tooltipped grid-item waves-effect"
		data-position="bottom"
		data-tooltip='
    <span class="post-date-posted">Made on {{ post.date }}</span>
    <p class="post-description">{{ post.content }}</p>'
	>
		<div class="sub-head">
			<a href="#" class="subject">{{ post.subject }}</a
			><span class="topic"> {{ post.topic }}</span>
		</div>
		<div class="post">
			<div class="post-title">
				<a href="#">{{ post.title }}</a>
			</div>
			<div class="post-metadata">
				by <a href="#" class="post-author">{{ post.author }}</a>
			</div>
		</div>
	</div>
	{% endfor %}
</div>
<ul class="hide-on-large-only pagination left">
	<li class="disabled">
		<a href="#!"><i class="material-icons">chevron_left</i></a>
	</li>
	<li class="active"><a href="#!">1</a></li>
	<li class="waves-effect"><a href="#!">2</a></li>
	<li class="waves-effect"><a href="#!">3</a></li>
	<li class="waves-effect"><a href="#!">4</a></li>
	<li class="waves-effect"><a href="#!">5</a></li>
	<li class="waves-effect">
		<a href="#!"><i class="material-icons">chevron_right</i></a>
	</li>
</ul>
{% endblock content %}
