@font-face {
	font-family: "Lexend-Deca";
	src: url("../fonts/LexendDeca-Regular.ttf");
}
@font-face {
	font-family: "OpenSans-Regular";
	src: url("../fonts/OpenSans-Regular.ttf");
}
@font-face {
	font-family: "OpenSans-SemiBold";
	src: url("../fonts/OpenSans-SemiBold.ttf");
}
@font-face {
	font-family: "TitilliumWeb-SemiBold";
	src: url("../fonts/TitilliumWeb-SemiBold.ttf");
}
@font-face {
	font-family: "Kalam-Regular";
	src: url("../fonts/Kalam-Regular.ttf");
}
@font-face {
	font-family: "SourceSansPro-Regular";
	src: url("../fonts/SourceSansPro-Regular.ttf");
}
@font-face {
	font-family: "Roboto-Regular";
	src: url("../fonts/Roboto-Regular.ttf");
}
