// Variables
$background-color: #121212;
$card-color: #121212;
$text-color: rgba(255, 255, 255, 0.6);
$text-hover: rgba(255, 255, 255, 0.78);

// For Masonry
$width: 240px;
$gap: 16px;
$padding: 32px;
